{% extends "layout.html" %}

{% block content %}

<!DOCTYPE html>
<html>
    <header>
     <!--   <link rel="stylesheet" href="/static/css/newstyle.css" /> -->
      
        <div class="title"><img class="logo" src="/static/assets/logo1.png"></div> 
       <h1> ClearEyed Community Blog</h1>
       <!--              <div class="menu-item">Recent</div> -->
<!--              <div class="menu-item">Calendar</div> -->
    </header>
        <body>
            <h4>Share your progress and connect with others in the ClearEyed Community.</h4>
            <br>
        <div class="container">
            <form method="POST">
                <textarea name="content"></textarea>
                <input type="submit" />
            </form>
            <br> <br>
            <div class="entries">
                {% for entry in entries %}
                <div class="entry">
                    <div class="entry-title">
                        {{ entry[0] | truncate(15, true) }}
                        <span class="entry-date">• {{ entry[1] }}</span>
                    </div>
                    <p class="entry-content">{{ entry[0] }}</p> 
                    </div>
                {% endfor %}
            </div>
        </div>

    </body>
</html>

{% endblock %}
