{% extends "layout.html" %}

{% block content %}

<!DOCTYPE html>
<html>

    <head>
    <link rel="stylesheet" href="/static/css/newstyle.css" />
    </head>


    <h2>
        <img src="/static/assets/logo1.png" align="middle"/>

    </h2>

    <div class="jumbotron">

        <h1>ClearEyed</h1>
            <h2> Concussion recovery designed just for you. </h2>

            <p class="lead">

                ClearEyed gives you a powerful, patterns-based way to track your concussion progress.

                ClearEyed is a free web application that helps people affected by mild-traumatic brain injuries and
                concussions to better track symptoms, perform concussion therapy exercises, and communicate with health care providers.
            </p>
         <p><a class="btn btn-primary btn-large" href="{{url_for('about')}}">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Track Your Progress</h2>
            <p>
                ClearEyed offers both a symptom tracker and Physical Therapy tracker! The Symptom Tracker lets you follow
                 along with your progress with a daily log and routine progress visualizations. With the ClearEyed PT Tracker, track and perform your physical therapy while keeping your PT and healthcare team informed.
                 Improve your physical, eye-exercises, and relax therapy exercises in one place.
            </p>
            <p><a class="btn btn-default" href="{{url_for('tracker')}}">Learn more &raquo;</a></p>
         </div>
        <div class="col-md-6">
            <h2>The ClearEyed Community</h2>
            <p>
                Get connected with people like you!!. The ClearEyed Community is a place for people affected by mild-traumatic brain injuries and concussions to connect.
                It is the perfect place to share recovery tips, exercises, and support to one another!



            </p>
            <p><a class="btn btn-default" href="{{url_for('blog')}}">Learn more &raquo;</a></p>
        </div>
    </div>

        {% endblock %}
</html>


