{% extends "layout.html" %}
{% block content %}

<!DOCTYPE html>

<html>
    <title>About Us</title>
    <header>
        <h1> <img class="logo" src="/static/assets/logo1.png" /> <br> About ClearEyed</h1>
        <div class="menu">

        <h3> 
            Behind the Motivation
        </h3>
        <h2> 
            <img src =/static/assets/profile.jpg alt="Brea"
            style="width:300px;height:300px;">
            

        </h2>
        <p>
           <h4> Hi! My name is Breanna Veilleux and I'm the engineer behind ClearEyed. <br> </h4>
            I personally have been affected by concussions and the struggles of recover. Like many other people, I now experience chronic post-concussive disorder, which is characterized by symptoms of a concussion longer than three months. In my recovery, I have done a lot of things to aid the decrease in my symptoms, from journaling my symptoms, going to physical and viusal therapy, performing exhauastive training regimens, meditiating, and changing my diet. During this time, it was very difficult for the people around me to understand what I was going through, especially since concussions are a nearly invisible illness. <br>

            <br>
            Which brings me to why I created ClearEyed! I designed this platform to be a base for people recovering from concussions to go. In this version, you can track your symptoms and PT exercises, as well as connect with similar people on a straight forward blog. <br>

            <br>
            This platform came about through EE 551: Introduction to Python Programming with Professor Mukund. As a firmware/hardware engineer, all of my coding experience has been very low level (assembly, machine, etc.) so taking this course has been a true test (and treat!).  <br> 
            I am happy that I was able to learn about python and its abilities to rapidly prototype as an interpretted language! I have learned a great amount this semester. With these skills, ClearEyed will not end after this semester!

            <br>
            <h3>Future Plans for ClearEyed</h3>
            <p> Some features to this web application include: <br>
                1. Interactive Physical therapy with recommendations based on the input symptoms <br>
                2. A secure login page <br>
                3. Chatting capabilities <br>
                4. AWS web application deployment <br>

            </p>
           
        </p>
    


{% endblock %}

</html>
